//* COLOR VARIABLES

// UNIVERSAL COLORS

// LIGHT CARD COLORS
$mainBg-Light: #f2ebe3;
$cardBg-Light: #ffffff;
$headerText-Light: #1c232b;
$catText-Light: #b5b8c4;
$bodyText-Light: #6c7289;
$strikeThrough-Light: #787884;
$priceText-Light: #3c8067;
$btnBg-Light: #3c8067;

// DARK CARD COLORS
$mainBg-Dark: #6c7289;
$cardBg-Dark: #1c232b;
$headerText-Dark: #ffffff;
$catText-Dark: #67696b;
$bodyText-Dark: #b2afac;
$strikeThrough-Dark: #41464b;
$priceText-Dark: #9cd3be;
$btnBg-Dark: #129062;

.container {
  @apply w-full min-h-screen bg-[#f2ebe3] flex-center px-6;
}

:global(.dark) .container {
  @apply bg-[#6c7289];
}

.cardContainer {
  @apply w-[360px] md:w-full h-[610px] shadow rounded-[9px] overflow-hidden bg-white;
  font-family: 'Montserrat';
}

.imageContainer {
  @apply relative w-full h-[240px] bg-slate-600 rounded-[9px];
}

.cardCategory {
  @apply mt-6 mb-3;
  p {
    font-family: 'Montserrat';
    color: $catText-Light;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.45em;
    line-height: 15px;
  }
}

.cardTitle {
  @apply mb-3;
  h4 {
    color: $headerText-Light;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 32px;
    color: $headerText-Light;
    line-height: 101%;
  }
}

.cardBody {
  p {
    font-family: 'Montserrat';
    color: $bodyText-Light;
    font-size: 14px;
    letter-spacing: 0.012em;
    line-height: 161%;
    font-weight: 500;
    opacity: 0.9;
  }
}

.price {
  @apply flex mt-5 mb-3 items-center;
  h5 {
    color: $priceText-Light;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 32px;
  }
  p {
    @apply ml-5 mt-1;
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 0.7;
    color: $strikeThrough-Light;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(0, 0, 0, 0.3);
  }
}

.cartButton {
  @apply mt-4 w-full rounded-lg flex-center py-3 text-white gap-2 duration-150;

  background-color: $btnBg-Light;
  &:hover {
    background-color: #2a604c;
  }
  &:active {
    background-color: #1a3e31;
  }

  h5 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 0.9rem;
  }
}
