//* COLOR VARIABLES

// UNIVERSAL COLORS

// LIGHT CARD COLORS
$mainBg-Light: #f2ebe3;
$cardBg-Light: #ffffff;
$headerText-Light: #1c232b;
$catText-Light: #b5b8c4;
$bodyText-Light: #6c7289;
$strikeThrough-Light: #dadcd1;
$priceText-Light: #3c8067;
$btnBg-Light: #3c8067;

// DARK CARD COLORS
$mainBg-Dark: #6c7289;
$cardBg-Dark: #1c232b;
$headerText-Dark: #ffffff;
$catText-Dark: #67696b;
$bodyText-Dark: #b2afac;
$strikeThrough-Dark: #41464b;
$priceText-Dark: #9cd3be;
$btnBg-Dark: #129062;
