@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-500;
  }
  body {
    @apply bg-offwhite text-slate-800;
  }

  .dark body {
    @apply bg-slate-800 text-offwhite;
  }

  h1 {
    @apply text-4xl font-normal leading-normal;
  }
  h2 {
    @apply text-3xl font-normal leading-normal;
  }
  h3 {
    @apply text-2xl font-normal leading-normal;
  }
  h4 {
    @apply text-xl font-normal leading-normal;
  }
  h5 {
    @apply text-lg font-normal leading-normal;
  }
}

@layer components {
  .external-link {
    @apply px-8 py-3 rounded bg-stone-500 text-offwhite text-sm shadow relative font-bold tracking-wide cursor-pointer dark:bg-slate-700 dark:text-offwhite uppercase flex-1 md:flex-none transition-all duration-300 ease-in-out md:w-52 after:bg-stone-800 dark:after:bg-slate-800 after:left-[20px] md:after:left-[0px] overflow-hidden;
    span {
      @apply scale-100 transition-all duration-300;
    }
    > a {
      @apply relative z-10;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      height: 700%;
      width: 120%;
      transition: all 0.3s ease-in-out 0s;
      transform: translateX(55%) translateY(-10%) rotate(-45deg);
    }
    &:hover {
      span {
        @apply scale-125 transition-all duration-300;
      }
    }
    &:hover::after {
      transform: translateY(-30%) rotate(-90deg);
    }
  }
}

@layer utilities {
  .bb {
    @apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-black;
  }
  .bb2 {
    @apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
