$TOGGLE_DURATION: 250ms;

$inactiveLabelColor: #b9bdc1;
$inactiveLabelColorOnHover: #fcfefe;
$inactiveLabelColorOnActive: #cdd1d5;
$activeLabelColor: #5b5e62;
$activeLabelColorOnHover: #404346;
$activeLabelColorOnActive: #010101;
$inactiveTrackColor: #dce0e3;
$inactiveTrackColorOnHover: #fcfefe;
$inactiveTrackColorOnActive: #dee4ea;
$activeTrackColor: #404346;
$activeTrackColorOnHover: #2d2f31;
$activeTrackColorOnActive: #141516;
$inactiveThumbColor: #20293a;
$activeThumbColor: #fefefe;
$focusRingColor: rgb(59 130 246 / 0.5);

.toggle {
  @apply inline-flex items-center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  span {
    transition: color $TOGGLE_DURATION ease-in-out;
    padding: 1rem;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  input {
    @apply relative overflow-hidden;
    transition: all $TOGGLE_DURATION ease-in-out;
    transition-property: box-shadow, background-color;
    appearance: none;
    margin: 0;
    outline: none;
    border-radius: 14px;
    width: 48px;
    height: 28px;
    background-color: $inactiveTrackColor;
    cursor: pointer;
    user-select: none;

    &:checked {
      background-color: $activeTrackColor;

      &:hover,
      &:hover::after {
        background-color: $activeTrackColorOnHover;
      }

      &:active,
      &:active::after {
        background-color: $activeTrackColorOnActive;
      }

      &::before {
        left: 24px;
        background-color: $activeThumbColor;
      }

      &::after {
        top: 12px;
        right: 2px;
        width: 1px;
        height: 1px;
        border-radius: 0.5px;
        background-color: $activeTrackColor;
      }
    }
    &:hover,
    &:hover::after {
      background-color: $inactiveTrackColorOnHover;
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px $focusRingColor;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
    z &:active,
    &:active::after {
      background-color: $inactiveTrackColorOnActive;
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      transition: all $TOGGLE_DURATION ease-in-out;
      transition-property: left, background-color;
      width: 20px;
      height: 20px;
      border-radius: 12px;
      background-color: $inactiveThumbColor;
    }

    // OVERLAY TO CREATE MOON ICON
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 33px;
      height: 30px;
      border-radius: 16px;
      top: -5px;
      right: 3px;
      background-color: $inactiveTrackColor;

      transition: all $TOGGLE_DURATION ease-in-out;
      transition-property: top, right, width, height, border-radius,
        background-color;
    }
  }
}
