/* 
  inactiveLabelColor = '#b9bdc1',
  inactiveLabelColorOnHover = '#fcfefe',
  inactiveLabelColorOnActive = '#cdd1d5',
  activeLabelColor = '#5b5e62',
  activeLabelColorOnHover = '#404346',
  activeLabelColorOnActive = '#010101',
  inactiveTrackColor = '#dce0e3',
  inactiveTrackColorOnHover = '#fcfefe',
  inactiveTrackColorOnActive = '#cdd1d5',
  activeTrackColor = '#404346',
  activeTrackColorOnHover = '#2d2f31',
  activeTrackColorOnActive = '#141516',
  inactiveThumbColor = '#2d2f31',
  activeThumbColor = '#dce0e3',
  focusRingColor = 'rgb(59 130 246 / 0.5)',
*/

$TOGGLE_DURATION: 250ms;

$inactiveLabelColor: '#b9bdc1';
$inactiveLabelColorOnHover: '#fcfefe';
$inactiveLabelColorOnActive: '#cdd1d5';
$activeLabelColor: '#5b5e62';
$activeLabelColorOnHover: '#404346';
$activeLabelColorOnActive: '#010101';
$inactiveTrackColor: '#dce0e3';
$inactiveTrackColorOnHover: '#fcfefe';
$inactiveTrackColorOnActive: '#cdd1d5';
$activeTrackColor: '#404346';
$activeTrackColorOnHover: '#2d2f31';
$activeTrackColorOnActive: '#141516';
$inactiveThumbColor: '#2d2f31';
$activeThumbColor: '#dce0e3';
$focusRingColor: 'rgb(59 130 246 / 0.5)';

.toggle {
  @apply inline-flex items-center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  span {
    transition: color $TOGGLE_DURATION ease-in-out;
    padding: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    &:nth-of-type(1) {
      &:hover {
        color: $activeLabelColorOnHover;
      }
      &:active {
        color: $activeLabelColorOnActive;
      }
    }
    &:nth-of-type(2) {
      &:hover {
        color: $inactiveLabelColorOnHover;
      }
      &:active {
        color: $inactiveLabelColorOnActive;
      }
    }
  }
}
